body {
	width: 300px;
	min-height: 300px;
	color: #464545;
}
.parameter, .addParam {
	cursor: pointer;
	line-height: 12pt;
	background: #f6f6f6;
	margin: 2px 0px;
	padding: 10px 10px;
	overflow: hidden;
	transition: all .3s ease;
	position: relative;
}
.parameter:hover, .addParam:hove {
	background: #f0f0f0;
	transition: all .3s ease;
}
.settings {
	position: absolute;
	right: -100px;
	top: 0px;
	bottom: 0px;
	line-height: 0pt;
	color: #fff;
	transition: all .3s ease;
}
.remove {
	font-size: 30pt;
	background: #f77;
	padding: 0px 10px;
	height: 100%;
	line-height: 30px;
	display: inline-block;
	transition: all .3s ease;
}
.remove:hover {
	background: #f00;
}
.lock, .unlock {
	background-image: url(lock.png);
	height: 100%;
	display: inline-block;
	vertical-align: top;
	width: 36px;
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #56688c;
	transition: all .3s ease;
}
.unlock {
	background-image: url(unlock.png);
}
.lock:hover, .unlock:hover {
	background-color: #001d54;
}
.parameter:hover .settings {
	right: 0px;
}
input {
	width: 100%;
}
.caption {
	display: block;
	font-size: 7pt;
}
.settingsPanel {
	display: none;
}
.settingsPanel.active {
	display: block;
	position: fixed;
	background: #fff;
	color: #444;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 1;
	margin: 15px;
	box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, .4);
	padding: 12px;
}
.gear {
	display: block;
	width: 13px;
	height: 13px;
	margin: 1px 1px 0px 0px;
	background-image: url(gear.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	float: right;
}
.types label {
	display: inline-block;
	width: 50%;
}
.types label input {
	width: auto;
}
.settingsPanel .close {
	float: right;
	font-style: initial;
	color: #f00;
	font-size: 24pt;
	line-height: 8pt;
}
